/* forgot-password.css */

.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, hsl(191, 28%, 66%), #f0c0c0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-form-container {
  width: 400px;
  justify-content: center;
  margin-right: 290px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password-container div {
  margin-bottom: 10px;
}

.forgot-password-container input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.title-forgot {
  margin-bottom: 600px;
  position: relative;
  left: 400px;
  font-size: 40px;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(48, 47, 47);
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.error {
  color: red;
}

.forgot-password-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.forgot-password-container a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.forgot-password-container a:hover {
  text-decoration: underline;
}
