/* Styles for ResetPassword component */

.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, hsl(191, 28%, 66%), #f0c0c0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reset-form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reset-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.reset-form-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.reset-form-container input[type="password"],
.reset-form-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-form-container button {
  padding: 10px 15px;
  background-color: rgb(65, 150, 235);
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-form-container button:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.reset-form-container button:not(:disabled):hover {
  background-color: dodgerblue;
}

.reset-form-container a {
  margin-top: 10px;
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
}

.reset-form-container a:hover {
  text-decoration: underline;
}

.title-reset {
  margin-bottom: 600px;
  position: relative;
  left: 370px;
  font-size: 40px;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(48, 47, 47);
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
